<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Plantilla </title>
    <meta charset="UTF-8" />
</head>

<body>
    <header th:fragment="header">
        <h1 th:text="#{plantilla.titulo}"></h1>
    </header>
    <footer th:fragment="footer">
        <div>
            <br/>
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a>
            <span> [[#{plantilla.pie-pagina}]]<a href="http://www.google.com" target="_blank"> Google</a></span>
            <form method="POST" th:action="@{/logout}">
                <b>Usuario:</b> <span sec:authentication="name">Usuario que realizo login</span> |
                <b>Roles:</b><span sec:authentication="principal.authorities">Rol</span>
                <br/>
                <a href="#" onclick="this.parentNode.submit();">Salir</a>
            </form>
        </div>
    </footer>
</body>

</html>